.purchaseContainer {
    margin-top: 5rem;
    background-color: rgb(241, 227, 240);
}
.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.textFieldContainer{
    margin-bottom: 1.5rem;
    background-color: white;
    color: black;
}
.textField {
    width: 400px;
}