.headerTitulo{
    position: absolute;
    top: 50%;
    left: 5%;
}

.headerContainer img{
    width: 100%;
}

@media only screen and (max-width: 768px){
    .headerImg {
        margin-top: 3rem;
    }
} 