.checkoutBody {
    border: solid 1px;
    background-color: white;
    margin: 5rem;
}
.checkoutProducts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.checkoutProduct {
    padding: 2rem;
}