.footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
    height: 50px;
}
.redesIconos a{
    padding: 0.3rem;
}

.copyrightContainer{
    padding-top: 0.5rem;
    background-color: rgb(248, 244, 244);
}