.itemContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-top:5rem;
    margin-bottom: 2rem; 
    max-width: max-content;
    
}

@media only screen and (max-width: 993px){
    .itemContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 540px;
    }
}

    
